@import "tailwindcss";

/* basic css */
/* *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
*/
html, body{
  height: 100%;
  width: 100%;
} 

.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
