@import "tailwindcss";

/* basic css */
/* *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
*/
html, body{
  height: 100%;
  width: 100%;
} 

.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
